extends layout 

block content 
  h1= title 
  img.icon(src=`/data/uploads/${category.image_path}` alt='no icon')
  p Name: #{category.name}
  p Description: #{category.description}
  p 
    a.extralink(href=category.item_list_url) See items
  p
    a.extralink(href=`/inventory/item/${category._id}/create`) Create New Item
  p
    a.extralink(href=category.detail_url+'/delete') Delete Category
  p
    a.extralink(href=category.detail_url+'/update') Update Category
