extends layout 

block content 
  h1 Items in #{category.name}

  img.icon(src=`/data/uploads/${category.image_path}` alt='no icon')

  a(href=category.detail_url) About Department

  ul#linkcollection
    each item in item_list 
      li.categoryrow
        a(href=item.url) #{item.name} 
        span #{item.price}

    else 
      li There are no items.

  p
    a.extralink(href=`/inventory/item/${category._id}/create`) Create New Item