extends layout 

block content 
  h1= title 
  img.icon(src=`/data/uploads/${item.image_path}` alt='no icon')
  p Name: #{item.name}
  p Description: #{item.description}
  p Category: 
    a(href=item.category.item_list_url) #{item.category.name}
  p Price: #{item.price}
  p Number in Stock: #{item.number_in_stock}

  p 
    a.extralink(href=item.url+'/delete') Delete Item
  p 
    a.extralink(href=item.url+'/update') Update Item